#contact {
    width: 100%;
    min-height: 80vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

#contact .form {
    min-width: 45rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    background: var(--primary-variant);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    overflow: hidden;
}

#contact .form .form-title {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--secondary-variant);
    text-align: center;
}

#contact .form .form-text {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--tertiary-variant);
    margin:2rem 0;
    text-align: center;
}

#contact .form .input-form {
    width: 100%;
}

#contact .form .input-form label,
#contact .form .input-form input {
    display: block;
}

#contact .form .input-form label {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-variant);
    margin-bottom:.5rem;
}

#contact .form .input-form input,
#contact .form .input-form textarea {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    background:none;
    border: 2px solid var(--primary);
    font-size: 1.4rem;
    color: var(--secondary-variant);
    margin-bottom:2.5rem;
}

@media screen and (max-width:425px) {
    #contact .form {
        min-width: 28rem;
    }
}

